@media (max-width: 1600px) {
	.carousel__item-box::after {
		width: 876px;
		height: 474px;
		top: -75px;
		right: 195px;
	}

	.carousel__item-box::before {
		width: 230px;
		height: 230px;
		left: 45px;
		top: 0px;
	}

	.carousel__item-box p {
		left: 15%;
	}
}

@media (max-width: 1440px) {
	.item__image {
		width: 350px;
		height: 250px;
	}

	.building__example-item {
		margin: -60px 0 60px;
	}
}

@media (max-width: 1315px) {
	.header__logo img {
		width: 150px;
	}

	.header__navigation-info > div {
		font-size: 13px;
	}

	.header__menu ul a {
		padding: 10px 40px;
	}

	.carousel__item-box span {
		margin: 10px 0;
	}

	.carousel__item-box::before {
		width: 230px;
		height: 230px;
		left: -15px;
		top: 0;
	}

	.best {
		padding: 95px 0;
	}

	.title-h2 {
		margin-bottom: 25px;
		margin-left: 55px;
	}

	.best__shortDescr {
		max-width: 640px;
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 35px;
		margin-left: 55px;
	}

	.best__descr-image img {
		margin-left: 40px;
		width: 480px;
		height: 340px;
		margin-right: -40px;
	}

	.best__descr-info--title {
		line-height: 40px;
		margin-bottom: 20px;
	}

	.best__descr-info--text {
		line-height: 22px;
	}

	.best__descr-info--text p {
		margin-bottom: 10px;
	}

	.building {
		padding: 100px 0;

		&__title {
			margin-bottom: 100px;
		}
	}

	.footer__contacts {
		padding: 40px 130px 20px 50px;
	}

	.footer__navigation {
		padding: 30px 0 0;
		padding-left: 100px;
	}

	.footer__menu-list > li {
		margin-bottom: 15px;
	}

	.projects__desk-item--image img {
		width: 545px;
		height: 384px;
	}

	.projects-list__item-image img {
		width: 570px;
		height: 335px;
	}

	.publicate {
		padding: 65px 0 110px;
	}

	.publicate__carousel {
		padding: 0 70px;
	}

	.breadcrumbs {
		margin-bottom: 40px;
	}

	.gluebrus__title {
		margin-bottom: 45px;
	}

	.gluebrus__view-image {
		width: 450px;
		height: 300px;

		& img {
			width: inherit;
			height: inherit;
		}
	}

	.gluebrus__view-note {
		margin-right: 40px;
		margin-top: 60px;
	}

	.doublebrus__info-image {
		padding: 20px 0;
		padding-left: 20px;
		margin-left: 0;
	}

	.doublebrus__info-image img {
		width: 520px;
	}

	.minibrus__title {
		margin-bottom: 40px;
	}

	.minibrus__item-image img {
		width: 460px;
	}

	.minibrus__item-image {
		width: 490px;
	}

	.sps-top {
		padding: 100px 0;
	}

	.details__images-img.active {
		width: 530px;
	}

	.details__images {
		padding-top: 360px;
	}
}

@media (max-width: 1235px) {
	.header__logo img {
		width: 120px;
	}

	.header__navigation-info {
		margin-bottom: 10px;
	}

	.header__navigation-info > div {
		margin-right: 55px;
	}

	.header__menu {
		margin-left: 25px;
	}

	.header__menu ul {
		border: 2px solid $green;
	}

	.carousel__item-box::after {
		width: 722px;
		height: 390px;
		top: -75px;
		right: 195px;
	}

	.carousel__item-box::before {
		left: 60px;
		top: -30px;
	}

	.swiper-slide {
		height: 210px;
	}

	.publicate__carousel {
		height: 475px;
	}

	.projects__desk-item--image img {
		width: 450px;
		height: 320px;
	}

	.projects__desk-item--btn {
		bottom: -30px;
	}

	.projects__desk-item--btn a {
		padding: 20px 45px;
	}

	.projects-list__item-image img {
		width: 510px;
		height: 300px;
	}

	.projects-list__item-descr {
		padding: 30px 45px 0 29px;
	}

	.item__descr-title {
		margin-bottom: 30px;
	}

	.item__descr-info {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.item__descr-cost {
		margin-bottom: 30px;
	}

	.publicate__carousel-item--video video,
	.publicate__carousel-item--video iframe {
		width: 280px;
		height: 150px;
	}

	.advantages__image img {
		width: 530px;
	}

	.preimushestva__image img {
		width: 530px;
	}

	.details__info-characteristic {
		padding: 40px 115px;
	}
}

@media (max-width: 1145px) {
	.header__logo {
		margin: 0;
	}

	.header__logo img {
		width: 110px;
	}

	.header__navigation-info > div {
		font-size: 10px;
	}

	.header__menu ul a {
		font-size: 10px;
	}

	.carousel__item-box::after {
		width: 609px;
		height: 329px;
		top: -40px;
		right: 207px;
	}

	.carousel__item-box::before {
		width: 180px;
		height: 180px;
		left: 65px;
		top: 0px;
	}

	.top-carousel__item {
		height: 540px;
		padding-top: 135px;
	}

	.best__descr {
		flex-direction: column;
		align-items: center;
	}

	.best__descr-image {
		margin-bottom: 40px;
	}

	.best__descr-image img {
		width: 671px;
		height: 468px;
	}

	.best__descr-info--title {
		text-align: center;
	}

	.best__descr-info--text {
		font-size: 18px;
		margin: 0 50px;
	}

	.building__example-items {
		flex-wrap: wrap;
		justify-content: center;
	}

	.item__name {
		margin-bottom: 50px;
	}

	.building__example-item:last-child .item__name {
		margin-bottom: 0;
	}

	.projects-list__item-image img {
		width: 470px;
		height: 265px;
	}

	.doublebrus__info-image img {
		width: 450px;
	}

	.minibrus__item-image {
		width: 440px;
	}

	.minibrus__item-image img {
		width: 415px;
	}

	.preimushestva__image img {
		width: 440px;
		position: static;
	}
}

@media (max-width: 1040px) {
	.header__menu ul a {
		padding: 8px 30px;
	}

	.header__navigation-info > div > span img {
		height: 15px;
	}

	.header .social__list li svg {
		height: 15px !important;
	}

	.carousel__item-box::after {
		width: 498px;
		height: 270px;
		top: -25px;
		right: 190px;
	}

	.carousel__item-box::before {
		width: 150px;
		height: 150px;
	}

	.footer__inner {
		padding: 65px 0 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer__social {
		margin: 60px auto 0;
	}

	.footer__social-list li {
		margin: 0 20px;
	}

	.projects__desk-item--image img {
		width: 400px;
		height: 265px;
	}

	.projects__desk-item--btn a {
		padding: 20px 30px;
	}

	.totop__btn {
		bottom: unset;
		right: 13px;
		top: 40px;
		width: 45px;
		height: 45px;
	}

	.price__item {
		margin: 0 22px;
	}

	.minibrus__item-image {
		width: 390px;
		padding: 0;
		padding-left: 30px;
	}

	.minibrus__item-image img {
		width: 365px;
	}

	.individual {
		padding: 70px 0;
	}

	.individual__item-info {
		max-width: 500px;
	}

	.first-image {
		margin-left: -36px;
		padding: 25px 0;
		padding-left: 25px;

		& img {
			margin-right: -60px;
			width: 440px;
		}
	}

	.second-image {
		padding-left: 25px;

		& img {
			margin: -50px -40px;
			margin-left: 0;
			width: 255px;
		}
	}

	.third-image img {
		margin-bottom: -90px;
		width: 330px;

		& img {
			margin-bottom: -135px;
			width: 330px;
		}
	}

	.details__images-img.active {
		width: 460px;
	}

	.details__images {
		padding-top: 310px;
	}
}

@media (max-width: 992px) {
	.header__menu,
	.header__navigation-info,
	.header__info-descr--about {
		display: none;
	}

	.mobile-item {
		display: block;
	}

	.burger__menu {
		display: block;
	}

	.header__about {
		display: block;
		text-align: center;
	}

	.header__logo img {
		width: 100px;
	}

	.header {
		position: relative;
		max-height: 130px;
		height: 100%;
		width: 100%;
	}

	.header__menu {
		right: 0;
		left: -25px;
		position: absolute;
		top: 100%;
		z-index: 99;

		& > ul {
			margin: 0;
			border: none;
			text-align: center;
			background-color: #f7fdfb;
			border-radius: unset;
			padding: 0 15px;
			flex-direction: column;
			width: 100%;

			& li {
				display: block;
				width: 100%;

				&.active a {
					color: $green;

					&:hover {
						color: $green;
					}
				}
			}

			& li a {
				margin: 0;
				display: block;
				border: 4px solid transparent;

				&:hover {
					background-color: unset;
					border-color: $green;
					color: #101010;
				}
			}
		}
	}

	.mobile-nav {
		display: block;

		.contacts__list {
			display: block;
			border-radius: unset;
			color: $header-grey;
			border: none;
			background-color: #fff;

			& li {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 44px;
				font-size: 14px;
				padding: 0 35px 0 45px;

				& span {
					margin-right: 15px;
				}

				& span img {
					height: 15px;
				}

				& a {
					color: $header-grey;
					font-size: 16px;
					padding: 0;
				}

				& a:hover {
					background-color: unset;
					color: #101010;
				}
			}
		}

		.social__list {
			border-radius: unset;
			background-color: #f7fdfb;
			justify-content: center;
			border: none;
			padding: 15px 0;

			& li {
				margin: 0 15px;

				& a {
					padding: 0;
				}
			}

			a:hover {
				background-color: unset;
			}
		}
	}

	.best__descr-info--text {
		font-size: 16px;
		margin: 0;
	}

	.best__descr-image {
		margin-right: 0;
	}

	.best__descr-image img {
		width: 530px;
		height: 374px;
	}

	.footer__navigation {
		overflow: hidden;
	}

	.projects__desk-item--image img {
		width: 375px;
		height: 245px;
	}

	.projects__desk {
		grid-column-gap: 30px;
		grid-row-gap: 80px;
	}

	.projects-list__items {
		margin-bottom: 40px;
	}

	.pagination__arrows a {
		width: 45px;
		height: 45px;
		margin: 0 10px;
	}

	.projects-list__item-image img {
		width: 390px;
		height: 240px;
	}

	.projects-list__items {
		grid-template-columns: repeat(1, 1fr);
	}

	.gluebrus__info,
	.gluebrus__view {
		flex-direction: column;
		margin-bottom: 30px;
	}

	.gluebrus__view-image img {
		margin-left: -40px;
		margin-top: -40px;
	}

	.gluebrus__info-details {
		margin-right: 0;
		margin-left: 25px;
	}

	.gluebrus__view-image {
		margin: 0 auto;
	}

	.gluebrus__view-note {
		margin: 60px auto 0;
	}

	.doublebrus__info {
		flex-direction: column;
		align-items: center;

		&-image {
			margin-bottom: 30px;
		}

		&-descr {
			padding: 0 15px;
		}
	}

	.doublebrus__price-items {
		justify-content: center;
	}

	.price__item {
		margin: 0 40px 40px;
	}

	.minibrus__inner {
		flex-direction: column;
		align-items: center;
	}

	.minibrus__item {
		margin: 0;
		margin-bottom: 60px;
	}

	.minibrus__item-image {
		width: 540px;
		margin: 0;
		margin-right: auto;
		margin-bottom: 60px;
	}

	.minibrus__item-image img {
		width: inherit;
	}

	.sps-top {
		padding: 50px 0;
	}

	.sps-top__info {
		margin-left: 40px;
	}

	.sps-top__subtitle {
		margin-bottom: 30px;
	}

	.sps-top__price {
		margin-bottom: 40px;
	}

	.sps-top__call {
		padding: 15px 30px;
	}

	.advantages__image {
		padding-right: 25px;
		padding-bottom: 10px;
		margin-top: 75px;
		margin-right: 40px;
	}

	.advantages__image img {
		width: 385px;
	}

	.characteristic__list li {
		margin-bottom: 15px;
	}

	.details__info-characteristic {
		padding: 40px 85px;
		margin: 50px 0 35px;
	}

	.popup__content {
		padding: 185px 0;
	}

	.popup__succes {
		background-position: center 85px;
	}

	.details__images-img.active {
		width: 400px;
	}

	.details__images {
		padding-top: 280px;
	}

	.details__images-img {
		width: 150px;
	}
}

@media (max-width: 870px) {
	.carousel__item-box::before {
		width: 120px;
		height: 120px;
		left: 0;
		top: 10px;
	}

	.carousel__item-box::after {
		width: 498px;
		height: 270px;
		top: -25px;
		right: 145px;
	}

	.carousel-arrows {
		bottom: unset;
		top: 100%;
		width: 110px;
		height: 50px;
	}

	.top-carousel .slick-dots {
		top: unset;
		bottom: 25px;

		& li {
			width: 13px;
			margin: 5px;
			margin-left: auto;

			&.slick-active {
				width: 40px;
			}
		}
	}

	.top-carousel__item {
		height: 375px;
		padding-top: 75px;
	}

	.publicate__carousel .prev-arrow {
		right: 55px;
	}

	.footer__inner {
		flex-direction: column;
		align-items: center;
	}

	.footer-col {
		margin: 0 auto;
	}

	.footer__social {
		margin-top: 45px;
	}

	.projects__desk {
		grid-template-columns: repeat(1, 1fr);
	}

	.advantages__list {
		padding-left: 15px;
	}

	.advantages__list::before {
		left: -70px;
	}

	.individual__item,
	.individual__item.reverse {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	.first-image {
		margin-bottom: 40px;
	}

	.second-image {
		margin-bottom: 60px;
	}

	.third-image {
		margin-bottom: 100px;
	}

	.preimushestva {
		background-color: #f7fdfb;
		padding: 40px 0;
	}

	.preimushestva__inner {
		flex-direction: column;
		align-items: center;
	}

	.preimushestva__image {
		width: unset;
		height: unset;
	}

	.company__info {
		margin: 40px auto 0;
	}

	.details__inner {
		flex-direction: column-reverse;
		align-items: center;
	}

	.details__info {
		max-width: unset;
	}

	.project-arrows a {
		padding: 0;
		max-width: 100px;
		display: inline-block;
		padding-top: 75px;

		&::before,
		&::after {
			top: 0;
		}
	}

	.next-project a {
		text-align: right;
	}
}

@media (max-width: 768px) {
	p {
		text-align: justify;
	}

	.carousel__item-box::before {
		width: 120px;
		height: 120px;
		left: -60px;
		top: 25px;
	}

	.carousel__item-box::after {
		width: 385px;
		height: 210px;
		top: -4px;
		right: 185px;
	}

	.top-carousel__item {
		height: 265px;
		padding-top: 30px;
	}

	.title-h2 {
		margin-bottom: 25px;
		margin-left: 0px;
		line-height: 46px;
	}

	.best__shortDescr {
		margin-left: 0;
	}

	.building__title {
		margin-bottom: 100px;
		margin-left: 15px;
	}

	.building .container {
		padding: 0;
	}

	.publicate__carousel {
		height: 220px;
	}

	.breadcrumbs {
		margin-bottom: 65px;
	}

	.projects__title {
		margin-bottom: 50px;
	}

	.minibrus__title {
		margin-bottom: 40px;
	}

	.minibrus__item-image {
		width: 400px;
	}

	.advantages__inner {
		flex-direction: column;
	}

	.advantages__image {
		margin: 0 auto;
		margin-top: 75px;
	}

	.advantages__image img {
		width: 460px;
	}

	.advantages {
		padding: 55px 0;
	}
}

@media (max-width: 645px) {
	.carousel__item-box::after {
		top: -4px;
		right: 80px;
	}

	.best__descr-image img {
		width: 425px;
		height: 270px;
	}

	.advantages__text {
		margin-left: 0;
		margin-bottom: 25px;
	}

	.advantages__image img {
		width: 380px;
		margin-left: -20px;
	}

	.preimushestva__list {
		margin: 0;
	}

	.company__info {
		clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
		padding: 40px;
	}

	.details__breadcrumbs {
		flex-direction: column;
		align-items: start;
	}

	.breadcrumbs__item-link::after {
		margin-right: 0;
	}

	.getProjects {
		font-size: 12px;
		padding: 20px;
	}

	.popup__content {
		padding: 120px 10px;
	}

	.popup__succes {
		background-position: center 40px;
	}

	.popup__title::after {
		bottom: 0;
	}

	.popup__form input {
		padding: 10px 0;
		padding-left: 25px;
		width: 235px;
		font-size: 14px;
	}

	.popup__input {
		display: flex;
		align-items: center;
	}

	.popup__form button {
		padding: 13px 25px;
		margin-left: -40px;
		font-size: 12px;
	}
}

@media (max-width: 525px) {
	.carousel__item-box::after {
		top: -20px;
		right: -45px;
	}

	.carousel__item-box p {
		left: 0;
	}

	.carousel__item-box::before {
		top: 0;
	}

	.best__descr-image {
		margin-left: -140px;
	}

	footer .container {
		padding: 0;
	}

	.footer__navigation {
		padding-left: 40px;
	}

	.copyright__inner {
		padding: 0 10px;
		flex-direction: column;

		& p {
			margin: 5px 0;
			text-align: center;
		}
	}

	.privacy {
		padding: 20px 15px;
	}

	.projects {
		padding: 60px 0;
	}

	.breadcrumbs {
		flex-direction: column;
		align-items: start;
	}

	.projects-list__title,
	.projects-list__quantity {
		margin-bottom: 40px;
	}

	.projects-list {
		padding: 50px 0;
	}

	.publicate__carousel {
		padding: 0;
	}

	.gluebrus__view-image {
		width: 260px;
		height: 185px;
	}

	.doublebrus {
		padding: 40px 0;
	}

	.doublebrus__info-image {
		padding: 7px 0;
		padding-left: 12px;
		margin: 0;
		margin-bottom: 40px;
		margin-right: auto;
	}

	.doublebrus__info-image img {
		width: 350px;
		height: 240px;
	}

	.price__item {
		margin: 0 auto 40px;
	}

	.minibrus {
		padding: 55px 0;
	}

	.minibrus__item-image {
		width: 300px;
	}

	.sps-top__info,
	.sps-top__call {
		margin-left: 0;
	}

	.advantages__image img {
		width: 300px;
		margin-left: -20px;
	}

	.first-image {
		padding: 7px;

		& img {
			width: 290px;
		}
	}

	.second-image {
		padding-left: 15px;

		& img {
			margin: -35px -20px;
			margin-left: 0;
			width: 190px;
		}
	}

	.third-image {
		margin: 0;
		margin-bottom: 70px;
		padding: 0 10px 0 50px;

		& img {
			margin-bottom: -60px;
			width: 245px;
		}
	}

	.preimushestva__wrapper {
		margin-top: 0;
	}

	.preimushestva__image img {
		width: 300px;
	}

	.details__title::after {
		left: 30px;
		top: 10px;
	}

	.details__info-characteristic {
		padding: 40px 0;
	}

	.project-pages {
		position: relative;
	}

	.getProjects {
		position: absolute;
		top: 25px;
		left: calc(50% - 105px);
	}

	.details__images-img.active {
		width: 330px;
	}

	.details__images {
		padding-top: 230px;
	}
}

@media (max-width: 420px) {
	.carousel__item-box::after {
		top: -25px;
		right: -100px;
	}

	.best__descr-image img {
		width: 300px;
		height: 220px;
	}

	.best__descr-image {
		margin-left: -74px;
	}

	.best__descr-info--title {
		text-align: left;
		line-height: 26px;
	}

	.item__image {
		width: 290px;
		height: 210px;
	}

	footer {
		overflow: hidden;
	}

	.footer__contacts {
		padding: 40px 10px;
		width: 100%;
	}

	.footer__navigation {
		margin-left: -40px;
		overflow: visible;
	}

	.projects__desk-item--image img {
		width: 300px;
		height: 215px;
	}

	.projects-list__item-image img {
		width: 300px;
		height: 200px;
	}

	.projects-list__items {
		grid-row-gap: 55px;
		grid-column-gap: 0;
		margin-bottom: 60px;
	}

	.projects-list__item-descr {
		max-width: 250px;
	}

	.gluebrus__info-details {
		margin-left: 0;
	}

	.doublebrus__info-image img {
		width: 270px;
		height: 200px;
		margin-right: -40px;
	}

	.price__item-image {
		margin-bottom: 20px;
	}

	.minibrus__item-image {
		width: 265px;
		padding-left: 15px;
	}

	.minibrus__item {
		position: relative;
		padding-bottom: 30px;
	}

	.minibrus__item-text {
		height: 280px;
		overflow: hidden;

		&.show {
			height: unset;
		}
	}

	.more-text {
		display: inline;
		position: absolute;
		bottom: 0;
		left: 0;

		&.active::after {
			transform: rotate(180deg);
			top: 0;
		}
	}

	.advantages__image {
		padding-right: 20px;
		padding-bottom: 5px;
	}

	.advantages__image img {
		width: 250px;
		margin-left: -15px;
		margin-top: -10px;
	}

	.item__info-text--content {
		height: 280px;
		overflow: hidden;

		&.show {
			height: unset;
		}
	}

	.individual {
		padding: 40px 0;
	}

	.individual__item-info--text {
		margin-bottom: 50px;
	}

	.first-image {
		margin: 0;
		margin-bottom: 40px;

		& img {
			margin-right: -40px;
		}
	}

	.second-image {
		margin: 0;
		margin-bottom: 50px;
	}

	.third-image {
		padding: 0 10px 0 30px;
		margin-left: -80px;
	}

	.details__info-text {
		height: 180px;

		&.show {
			height: unset;
		}
	}
}

@media (max-width: 360px) {
	.mobile-nav .contacts__list li {
		justify-content: flex-start;
	}

	.title-h2 span::before {
		height: 6px;
		bottom: 10px;
	}

	.top-carousel__item {
		height: 223px;
		padding-top: 30px;
	}

	.top-carousel .slick-dots {
		bottom: 5px;
	}

	.gluebrus__view-note {
		padding: 35px;
	}

	.first-image img {
		width: 250px;
	}

	.second-image img {
		width: 170px;
	}

	.third-image {
		margin-left: 0;

		& img {
			margin-bottom: -40px;
			width: 200px;
		}
	}

	.company__info {
		padding: 20px 30px;
	}

	.project-arrows a::before,
	.project-arrows a::after {
		width: 50px;
		height: 50px;
	}

	.popup__form input {
		width: 185px;
	}

	.details__images-img.active {
		width: 300px;
	}

	.details__images {
		padding-top: 210px;
	}

	.details__images-img {
		margin: 0 10px;
		width: 135px;
	}
}

@media (max-width: 320px) {
	.carousel__item-box::after {
		right: -120px;
	}
}

@media (min-width: 1921px) {
	.title-h2 {
		line-height: unset;
		max-width: unset;
	}
}

@media (min-width: 992px) {
	.header__menu {
		display: block !important;
	}
}
